table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table{

  text-align: center;
  border: 1px solid #000;
}
.clickDe{
  cursor: pointer;
  font-size: 1.5rem;
}

th{
  background-color: #790696a4;
  color: white;
}