.body{
  width: 100%;
  height: 100vh;
  background-color: #20186b;
}
.container{
  width: 75%;
  margin: auto;
  text-align: center;
}


.row{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  
}

.row .a{
  width: 40%;
}
.row .b{
  width: 60%;
}